/* Services */

.services_mini_title {
    position: relative;
}

.services_mini_title::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 1px;
    background-color: #2eca7f;
    margin-left: 10px;
}

.services_cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.services_item {
    border: 1px solid #e7e7e7;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    top: 0;
    transition: 0.3s;
}

.services_item:hover {
    top: -10px;
    box-shadow: 0px 0px 150px 20px rgba(78, 67, 250, 0.06);
}

.services_item_top {
    display: flex;
    gap: 20px;
}

.services_icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(46, 202, 127, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_item_title {
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 32px;
    font-weight: 800;
    color: #1a2d62;
    text-transform: capitalize;
}

.services_item_description {
    margin-top: 20px;
    color: #888;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .services_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 990px) {
    .services_cards {
        grid-template-columns: 1fr;
    }
}
/*  /Services */

/* Best Courses */
/* Course */
.course-containers {
    gap: 20px;
}
.course-container {
    background-color: #ffffff;
    width: 270px;
    /* height: 406px; */
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 150px 20px rgba(78, 67, 250, 0.06);
}
.course-image {
    position: relative;
    padding: 0;
}
.course-image img {
    object-fit: cover;
    overflow: hidden !important;
    width: 100%;
}
.coure-date {
    position: absolute;
    top: 10%;
    left: 4%;
}
.month {
    position: absolute;
    top: 25px;
    left: 15px;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: #2eca7f;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.course-content {
    padding: 30px;
}
.course-content span {
    margin: 0px 20px 5px 0px;
}
.course-content i {
    color: #2eca7f;
    margin-right: 2px;
}
.button-custom {
    text-decoration: none;
    background: #2eca7f;
    padding: 6px 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}

/* Registration case */
.form-case {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.text-case {
    display: grid;
    grid-template-columns: 1fr;
}
/*  */
.btn-case {
    display: flex;
    justify-content: center;
}
@media (max-width: 1400px) {
    .form-case {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 990px) {
    .form-case {
        grid-template-columns: 1fr;
    }
}

/* Added Carousel item */

.br {
    border: 2px solid red;
}
/* BTN CAROUSEL */

#carousel_btn-left,
#carousel_btn-right {
    background-color: #2eca7f; /* Tugma orqa fon rangini yarim shaffof qilamiz */
    border: 2px solid #2eca7f; /* Hoshiyasini qo'shamiz */
    width: 30px; /* Kenglik */
    height: 50px; /* Balandlik */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}
#carousel_btn-left {
    left: -32px;
}
#carousel_btn-right {
    right: -32px;
}
#carousel_btn-left:hover,
#carousel_btn-right:hover {
    background-color: #2eca7f; /* Tugma ustiga kelsa rang o'zgaradi */
    transform: scale(1.1); /* Tugma kattalashadi */
}
